body {
  font-family: Arial;
  background: #f4f4f4;
}

.chat-container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

#messages {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px;
}

.msg {
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
