.chat-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    overflow: hidden;
}

.welcome-screen {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    border-bottom: 6px solid #25d366;
    text-align: center;
    color: #41525d;
}

.welcome-screen h1 {
    font-weight: 300;
    margin-bottom: 20px;
}