.chat-window {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    background-color: #efeae2;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    /* WhatsApp Doodle */
    position: relative;
}

.chat-header {
    height: 60px;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.header-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.header-name {
    color: #111b21;
    font-weight: 500;
}

.header-status {
    font-size: 13px;
    color: #667781;
}

.chat-messages {
    flex: 1;
    padding: 20px 60px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-input-area {
    min-height: 62px;
    background-color: #f0f2f5;
    padding: 5px 16px;
    display: flex;
    align-items: center;
}

.chat-input-area form {
    width: 100%;
    display: flex;
    align-items: center;
}

.chat-input-area input {
    flex: 1;
    padding: 9px 12px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 15px;
    margin-right: 10px;
    outline: none;
}

.chat-input-area button {
    background: none;
    border: none;
    cursor: pointer;
    color: #54656f;
    font-size: 20px;
}